@charset "UTF-8";
.table td, .table th {
	padding: .3rem;
	vertical-align: middle;
}

.table th {
	background: whitesmoke;
}

table.fixed {
	table-layout: fixed;
}

table.fixed td {
	overflow: hidden;
}