<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration> 
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.coworks.employee.model.vo.Employee" alias="employee" />
		<typeAlias type="com.kh.coworks.calendar.model.vo.Calendar" alias="calendar" />
		<typeAlias type="com.kh.coworks.attendance.model.vo.Attendance" alias="attendance" />
		<typeAlias type="com.kh.coworks.employee.model.vo.Department" alias="department"/>
		<typeAlias type="com.kh.coworks.authority.model.vo.Authority" alias="authority"/>
		<typeAlias type="com.kh.coworks.employee.model.vo.Job" alias="job"/>
		<typeAlias type="com.kh.coworks.education.model.vo.Education" alias="education"/>
		<typeAlias type="com.kh.coworks.education.model.vo.EduApply" alias="eduapply"/>
		<typeAlias type="com.kh.coworks.education.model.vo.EduReport" alias="edureport"/>
		

		
		<typeAlias type="com.kh.coworks.board.model.vo.Board" alias="board" />
		<typeAlias type="com.kh.coworks.board.model.vo.Attach" alias="attachment" />
		<typeAlias type="com.kh.coworks.approval.model.vo.ApprovalAttach" alias="approvalAttach" />
		<typeAlias type="com.kh.coworks.approval.model.vo.ApprovalDoc" alias="approvalDoc" />
		<typeAlias type="com.kh.coworks.approval.model.vo.ApprovalForm" alias="approvalForm" />
		<typeAlias type="com.kh.coworks.approval.model.vo.ApprovalStatus" alias="approvalStatus" />
		<typeAlias type="com.kh.coworks.mail.model.vo.Mail" alias="mail" />
		<typeAlias type="com.kh.coworks.mail.model.vo.MailAttach" alias="mailAttach" />
		<typeAlias type="com.kh.coworks.common.typeHandler.StringArrayTypeHandler" alias="strArrTypeHandler" />
	</typeAliases>

	<typeHandlers>
		<package name="com.kh.coworks.common.typeHandler" />
	</typeHandlers>

</configuration>










