<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="approval">

	<select id="selectApprovalFormFolderList" resultType="string">
		select
		distinct aform_folderName from approvalForm order by 1
	</select>

	<select id="selectApprovalFormList" parameterType="string"
		resultType="approvalForm">
		select * from approvalForm where
		aform_folderName=#{aform_folderName} order by AFORM_TITLE
	</select>

	<select id="searchApprovalForm" parameterType="string"
		resultType="approvalForm">
		select * from approvalForm where aform_title like
		'%'||#{search}||'%' order by AFORM_TITLE
	</select>

	<insert id="insertApprovalDoc">
		insert into approvalDoc (ADOC_NO, AFORM_NO, ADOC_WRITERNO,
		ADOC_UPLOADDATE, ADOC_SECURITY, ADOC_EXPIRATION, ADOC_SUBJECT,
		ADOC_CONTENT, adoc_status) values (seq_apdoc.nextval, #{aform_no},
		#{adoc_writerno}, DEFAULT, #{adoc_security}, #{adoc_expiration},
		#{adoc_subject},#{adoc_content},DEFAULT)
		<selectKey keyProperty="adoc_no" resultType="_int"
			order="AFTER">
			SELECT SEQ_apdoc.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<insert id="insertApprovalStatus">
		insert into
		approvalStatus(AS_NO,ADOC_NO,EMP_NO,AS_STATUS) values
		(seq_apst.nextval,#{adoc_no},#{emp_no},default)
	</insert>

	<insert id="insertApprovalAttach">
		insert into approvalAttach
		(APATT_NO,ADOC_NO,APATT_ORINAME,APATT_RENAME,APATT_PATH) values
		(sql_apatt.nextval,#{adoc_no},#{apAtt_oriname},#{apAtt_rename},#{apAtt_path})
	</insert>

	<select id="selectOneApprovalDoc" parameterType="_int"
		resultType="approvalDoc">
		SELECT * FROM APPROVALDOC FORM WHERE adoc_no=#{adoc_no}
	</select>

	<select id="selectApprovalAttach" parameterType="_int"
		resultType="approvalAttach">
		select * from approvalAttach where adoc_no=#{adoc_no}
	</select>

	<select id="selectApprovalStatus" parameterType="_int"
		resultType="approvalStatus">
		select st.*,emp_name,emp_signature,job_title from
		approvalStatus st,
		employee e, job j where st.adoc_no=#{adoc_no} and
		st.emp_no=e.emp_no
		and e.job_code=j.job_code
	</select>

	<select id="selectApprovalDocForm" resultType="approvalForm">
		select * from
		approvalForm where aform_no=#{aform_no}
	</select>

	<select id="selectApprovalWait" parameterType="_int"
		resultType="approvalDoc">
		select doc.*,form.aform_title from approvalDoc doc,
		approvalForm form where
		doc.aform_no=form.aform_no and adoc_status=0
		and
		adoc_writerno=#{emp_no} order by adoc_no desc
	</select>
	
	<select id="selectApprovalSubmit" parameterType="_int"
		resultType="approvalDoc">
		select doc.*,form.aform_title from approvalDoc doc,
		approvalForm form where
		doc.aform_no=form.aform_no and adoc_status^=0
		and
		adoc_writerno=#{emp_no} order by adoc_no desc
	</select>
	
	<select id="selectApprovalReceive" parameterType="_int"
		resultType="approvalDoc">
		SELECT
		DOC.*,
		EMP_NAME WRITERNAME,
		form.aform_title
		FROM
		APPROVALDOC DOC,
		approvalForm form,
		APPROVALSTATUS ST,
		EMPLOYEE EMP
		WHERE
		doc.aform_no=form.aform_no and
		DOC.ADOC_NO = ST.ADOC_NO
		AND ST.EMP_NO =
		#{emp_no}
		AND ST.AS_STATUS = 0
		and doc.adoc_status = 0
		AND
		DOC.ADOC_WRITERNO = EMP.EMP_NO
		ORDER BY
		DOC.ADOC_NO DESC
	</select>

	<select id="selectApprovalComplete" parameterType="_int"
		resultType="approvalDoc">
		SELECT
		DOC.*,
		EMP_NAME WRITERNAME,
		form.aform_title
		FROM
		APPROVALDOC DOC,
		approvalForm form,
		APPROVALSTATUS ST,
		EMPLOYEE EMP
		WHERE
		doc.aform_no=form.aform_no and
		DOC.ADOC_NO = ST.ADOC_NO
		AND ST.EMP_NO =
		#{emp_no}
		AND ST.AS_STATUS ^= 0
		AND
		DOC.ADOC_WRITERNO = EMP.EMP_NO
		ORDER
		BY
		DOC.ADOC_NO DESC
	</select>

	<update id="updateApprovalStatus">
		update approvalStatus set as_status=#{as_status},
		as_date=SYSDATE where adoc_no=#{adoc_no} and emp_no=#{emp_no}
	</update>

</mapper>
