<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="calendar">

	
 	<select id="selectListAllCalendar" parameterType="hashmap" resultType="calendar">
		SELECT * FROM CALENDAR WHERE CAL_HOLDER=#{emp_no} OR CAL_HOLDER=#{dept_code} OR CAL_HOLDER=#{company}
	</select>
	
	<select id="selectListCategory" parameterType="_int" resultType="calendarcategory">
		SELECT * FROM CALENDARCATEGORY WHERE EMP_NO=#{emp_no} ORDER BY CALCATE_NO ASC
	</select>
	
	
	<select id="selectListCalendar" parameterType="calendar" resultType="calendar">
		SELECT * FROM CALENDAR WHERE CAL_HOLDER=#{cal_holder} AND CAL_TYPE=#{cal_type}
	</select>
	
	
	<insert id="insertCalendar" parameterType="calendar" useGeneratedKeys="false">
		INSERT INTO CALENDAR VALUES(SEQ_CALENDAR.NEXTVAL,#{cal_holder},#{cal_type},#{cal_color},#{cal_name},#{cal_content},#{cal_beginDate},#{cal_endDate})
	</insert>
	
	
	<insert id="insertCalendarCategory" parameterType="hashmap" useGeneratedKeys="false">
		INSERT INTO CALENDARCATEGORY VALUES(SEQ_CALCATE.NEXTVAL,#{emp_no},#{calcate_name},#{calcate_color})
	</insert>
	
	
	<delete id="deleteCalendar" parameterType="_int">
		DELETE FROM CALENDAR WHERE CAL_NO=#{cal_no}
	</delete>
	
	<delete id="deleteCalendarCategory" parameterType="hashmap">
		DELETE FROM CALENDARCATEGORY WHERE EMP_NO=#{emp_no} AND CALCATE_NO=#{calcate_no}
	</delete>
	
	<update id="updateCalendar" parameterType="calendar">
		UPDATE CALENDAR SET CAL_BEGINDATE=#{cal_beginDate}, CAL_ENDDATE=#{cal_endDate} WHERE CAL_NO=#{cal_no}
	</update>
	
	<update id="updateCalendar2" parameterType="calendar">
		UPDATE CALENDAR SET CAL_NAME=#{cal_name}, CAL_CONTENT=#{cal_content}, CAL_BEGINDATE=#{cal_beginDate}, CAL_ENDDATE=#{cal_endDate} WHERE CAL_NO=#{cal_no}
	</update>
	
</mapper>
