<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chat">

	<select id="selectChatRoomList" resultType="chatRoom">
		select * from
		chatroom where emp_no=#{emp_no}
	</select>

	<select id="selectChatRoomOne" resultType="chat">
		select * from chat
		where croom_no=#{croom_no} order by chat_sendtime desc
	</select>

	<select id="selectRecentChat" resultType="chat" parameterType="_int">
		SELECT
		*
		FROM
		(
		SELECT
		ROW_NUMBER() OVER(
		PARTITION BY C.CROOM_NO
		ORDER BY
		CHAT_SENDTIME DESC
		) RNUM,
		C.CHAT_NO,
		C.CHAT_SENDNO,
		C.CHAT_CONTENT,
		C.CHAT_SENDTIME,
		CR.CROOM_NO,
		CR.CROOM_TITLE
		FROM
		CHAT C,
		CHATROOM CR
		WHERE
		CR.CROOM_NO = C.CROOM_NO (+)
		AND CR.EMP_NO = #{emp_no}
		)
		WHERE
		RNUM = 1
		ORDER BY
		CHAT_SENDTIME DESC
	</select>

	<select id="selectCroomEmp" parameterType="_int" resultType="int">
		select emp_no from chatRoom where croom_no=#{croom_no}
	</select>

	<select id="selectChatList" parameterType="_int" resultType="chat">
		select c.*, emp_name senderName from chat c, employee e where croom_no=#{croom_no} and e.emp_no=c.chat_sendno order by chat_sendtime
	</select>

	<insert id="insertChat">
		insert into chat
		(CHAT_NO,CROOM_NO,CHAT_SENDNO,CHAT_CONTENT,CHAT_SENDTIME) values
		(seq_chat.nextval,#{croom_no},#{chat_sendno},#{chat_content},#{chat_sendtime})
	</insert>

</mapper>
