<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="employee">
	<resultMap id="resultEmployee" type="employee">
		<result property="emp_authority" column="emp_authority"
		        typeHandler="strArrTypeHandler" />
	</resultMap>
	<select id="selectEmployee" resultType="employee" parameterType="_int">
		SELECT * FROM EMPLOYEE WHERE EMP_NO=#{emp_no} 
	</select>
	
	<select id="selectEmployeeList" resultType="employee">
		SELECT EMP_NAME, JOB_TITLE, DEPT_NAME, EMP_PHONE
		FROM EMPLOYEE E, DEPARTMENT D, JOB J
		WHERE E.JOB_CODE = J.Job_Code
        AND E.Dept_Code = D.Dept_Code
        ORDER BY E.EMP_NO DESC
	</select>
	
	<select id="selectEmployeeTotalContents" resultType="_int">
		SELECT COUNT(*) FROM EMPLOYEE
	</select>
	
	<select id="selectDepartment" resultType="department">
		SELECT DEPT_CODE, DEPT_NAME FROM DEPARTMENT
	</select>
	
	<select id="selectJob" resultType="job">
		SELECT JOB_CODE, JOB_TITLE FROM JOB
	</select>
	
	<insert id="insertEmployee" parameterType="employee">
		INSERT INTO EMPLOYEE VALUES(
			SEQ_EMPLOYEE.NEXTVAL, #{emp_name}, #{job_code},
			#{dept_code}, #{emp_phone}, #{emp_email}, #{emp_birth},
			#{emp_gender}, DEFAULT, DEFAULT, DEFAULT, DEFAULT,#{emp_authority,typeHandler=strArrTypeHandler}
			)	
	</insert>
	
	
	<insert id="insertDeptName" parameterType="department">
		INSERT INTO DEPARTMENT VALUES(
			SEQ_DEPARTMENT.NEXTVAL, #{dept_name}, 1
		)
	
	</insert>
	
	<update id="updateDeptName" parameterType="department">
		UPDATE DEPARTMENT 
		SET DEPT_NAME = #{dept_name} 
		WHERE DEPT_CODE = #{dept_code}
	</update>
	
	<select id="selectSerachEmployee" parameterType="hashmap" resultType="employee">
	 	SELECT EMP_NAME, JOB_TITLE, DEPT_NAME, EMP_PHONE
		FROM EMPLOYEE E, DEPARTMENT D, JOB J <bind name="mySQLPattern" value="'%' + keyword + '%'"/>
	 	<where>
	 		<if test="con == 'empname'">
	 			EMP_NAME LIKE #{mySQLPattern}
	 		</if>
	 		<if test="con == 'jobtitle'">
	 			JOB_TITLE LIKE #{mySQLPattern}
	 		</if>
	 		<if test="con == 'deptname'">
	 			DEPT_NAME LIKE #{mySQLPattern}
	 		</if>
	 		AND E.JOB_CODE = J.Job_Code
       		AND E.Dept_Code = D.Dept_Code
	 	</where>
	 </select>
	
</mapper>
