<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mail">

	<resultMap id="mailMap" type="mail"/>
	<resultMap id="mailAttachMap" type="mailAttach"/>
	
	<select id="readCount" resultType="_int">
		select count(*) from mail where mail_to_email = #{emp_email} and mail_isRead='N'
	</select>
	<select id="selectOneMail" resultType="mail">
		select * from mail where mail_no = #{mail_no}
	</select>
	
	<select id="selectMailAttachList" resultMap="mailAttachMap">
		select * from mailattach where mail_no = #{mail_no}
	</select>
	
	<select id="selectStarMailList" parameterType="mail" resultMap="mailMap" >
		select * from mail where mail_to_email = #{mail_to_email} 
		and mail_todel = 'N' 
		and mail_star='Y'
		 order by mail_no desc
	</select>
	
	<select id="selectStarMailTotalContents" resultType="_int">
		select count(*) from mail  where mail_to_email = #{mail_to_email}
		 and mail_todel = 'N' 
		 and mail_star='Y'
	</select>
	
	<select id="selectMarkMailList" parameterType="mail" resultMap="mailMap" >
		select * from mail where mail_to_email = #{mail_to_email} and mail_todel = 'N' and mail_mark=#{mail_mark} order by mail_no desc
	</select>
	
	<select id="selectMarkMailTotalContents" resultType="_int">
		select count(*) from mail  where mail_to_email = #{mail_to_email} and mail_todel = 'N' and mail_mark=#{mail_mark} order by mail_no desc
	</select>
	
	<select id="selectReceiveMailList" parameterType="Map" resultMap="mailMap">
		select * from mail where mail_to_email = #{mail_to_email} and mail_todel = 'N' order by mail_no desc
	</select>
	
	<select id="selectReceiveMailTotalContents" resultType="_int">
		select count(*) from mail  where mail_to_email = #{mail_to_email} and mail_todel = 'N' order by mail_no desc
	</select>
	
	<select id="selectDeleteMailList" parameterType="Map" resultMap="mailMap">
		select * from mail where mail_to_email = #{mail_to_email} and mail_todel = 'Y' order by mail_no desc
	</select>
	
	<select id="selectDeleteMailTotalContents" resultType="_int">
		select count(*) from mail  where mail_to_email = #{mail_to_email} and mail_todel = 'Y' order by mail_no desc
	</select>
	<select id="selectSendMailList" parameterType="Map" resultMap="mailMap">
		select * from mail where mail_from_email = #{mail_from_email} and mail_fromdel = 'N' order by mail_no desc
	</select>
	
	<select id="selectSendMailTotalContents" resultType="_int">
		select count(*) from mail  where mail_from_email = #{mail_from_email} and mail_fromdel = 'N' order by mail_no desc  
	</select>


	<insert id="mailFormEnd">
		INSERT INTO MAIL(MAIL_NO, MAIL_SUBJECT,MAIL_CONTENT, MAIL_SENDDATE ,MAIL_TO_EMAIL , MAIL_FROM_EMAIL,MAIL_NAME)
		VALUES (SEQ_MAIL.NEXTVAL,#{mail_subject}, #{mail_content}, #{mail_sendDate},#{mail_to_email},#{mail_from_email},#{mail_name})
		
	</insert>
	
	
	<update id="readMail" parameterType="_int">
		update mail set mail_isread ='Y' where mail_no = #{mail_no}
	</update>
	
	<!-- 게시글 -> 첨부파일 넣기 -->
	<insert id="insertMailAttach">
		<!-- 2번) 알아서 현재값 찾아 boardNo넣어서 아래의 INSERT의 #{boardNo}로 들고온다. -->
	
		INSERT INTO MAILATTACH(ATTACH_NO, MAIL_NO, 
		                       ATTACH_ORINAME, ATTACH_RENAME,ATTACH_PATH)
		VALUES(SEQ_MAIL_ATTACH.NEXTVAL, SEQ_MAIL.currval, 
		       #{attach_oriname}, #{attach_rename}, #{attach_path})
	</insert>

	<update id="deleteFromMail">
		update mail set mail_fromdel='Y' where mail_no = #{mail_no}
	</update>
	
	<update id="deleteToMail">
		update mail set mail_todel='Y' where mail_no = #{mail_no}
	</update>
	
	<update id="updateMark">
		update mail set mail_mark=#{mail_mark} where mail_no = #{mail_no}
	</update>
	
	<update id="updateEmail">
		update employee set emp_email=#{emp_email} , emp_emailpassword=#{emp_emailpassword} where emp_no = #{emp_no}
	</update>
	
	<delete id="deleteMailAttach">
		delete from mailAttach where mail_no = #{mail_no}
	</delete>
	<update id="updateStar">
		update mail set mail_star = #{mail_star} WHERE mail_no = #{mail_no}
	</update>
</mapper>
