<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="survey">
	
	<select id="selectSurveyList" resultType="survey" parameterType="java.util.Map">
		 SELECT * FROM SURVEY ORDER BY SURVEY_NO DESC 
	<!-- 	SELECT SA.* 
		FROM SURVEYANSWER SA
		WHERE SA.SURVAYAN_NO in
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">#{item.survey_no}</foreach>
		ORDER BY SA.SURVEY_NO DESC -->
	</select>

	<select id="selectSurveyTotalContents" resultType="_int">
		SELECT COUNT(*) FROM SURVEY
	</select>
	
	<select id="selectOneSurvey" resultType="survey">
	 	SELECT * FROM (SELECT * FROM SURVEY ORDER BY ROWNUM DESC) WHERE ROWNUM = 1
	</select>
	
	<select id="selectOneSurveyAnswer" resultType="surveyAnswer">
	 	SELECT * FROM SURVEYANSWER WHERE SURVEY_NO = #{survey_no}
	</select>


	<insert id="insertSurvey" parameterType="survey">
		INSERT INTO SURVEY(SURVEY_NO, SURVEY_QUEST, SURVEY_START, SURVEY_END)
		VALUES(SEQ_SURVEY.NEXTVAL, #{survey_quest}, #{survey_start} , #{survey_end})
	</insert>
	
	<insert id="insertSurveyAnswer" parameterType="surveyAnswer">
		INSERT INTO SURVEYANSWER(SURVEYAN_NO, SURVEY_NO, SURVEY_CONTENT)
		VALUES(SEQ_SURVEYANSWER.NEXTVAL, SEQ_SURVEY.CURRVAL, #{survey_content})
	</insert>
	
	<insert id="surveyInsertApply" parameterType="surveyApply">
		INSERT INTO SURVEYAPPLY(SURVEYAPP_NO, EMP_NO, SURVEY_NO, SURVEYAN_NO)
		VALUES(SEQ_SURVEYAPPLY.NEXTVAL, #{emp_no}, #{survey_no}, #{surveyan_no})
	</insert>
	
</mapper>