@charset "UTF-8";
.table td, .table th {
	padding: .3rem;
	vertical-align: middle;
}

.table th {
	background: whitesmoke;
	text-align: center;
}
.table td {
	text-align: center;
}

table.fixed {
	table-layout: fixed;
}

table.fixed td {
	overflow: hidden;
}